<h1>All Posts</h1> 

<table class="table table-bordered">

    <thead>
            <tr>
                <th>id</th>
                <th>Picture</th>
                <th>Title</th>                
                <th>Category</th>
                <th>Status</th>
                <th>Allow Comments</th>
                <th>Post</th>
                <th>Date</th>

            </tr>

    </thead>

    <tbody>

            {{#each posts}}

                <tr>
                    <td>{{id}}</td>
                    <td><img src="/uploads/{{file}}" alt="Trulli" width="50" height="33"></td>
                    <td>{{title}}</td>
                    <td>{{category.name}}</td>
                    <td>{{status}}</td>
                  <td>{{allowComments}}</td>
                <td><a href="/post/{{id}}">view</a></td>
                 <td>{{generateTime date 'MMMM Do YYYY'}}</td>                
                  <td><a href="/admin/posts/edit/{{id}}" class="btn btn-info">Edit</a></td>
               
                 <td>

                    <form action="/admin/posts/{{id}}?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-danger">DELETE</button>
                    </form>

                </td>

                </tr>


            {{/each}}

    </tbody>


</table>